/*总容器*/
.container {
    width: 400px;       /*轮播图总宽=大图宽度,高度对于大图加小图加分隔*/
    height: 430px;
    margin: 0 auto;
    position: relative;
    background-color: #111;
    /*使图片没有间隙*/
    font-size:0;
    line-height:0;
}

/*大图容器*/
.big_pic {
    position: relative;
    width: 400px;
    height: 320px;
}

/*大图淡入淡出动画*/
@keyframes fadein {
    0% {
        opacity: 0.3;   /*初始状态 不透明度为0*/
    }
    100% {
        opacity: 1;     /*结尾状态 不透明度为1*/
    }
}

/*大图动画设置*/
.bigImg {
    animation-name: fadein;             /*动画名称*/
    animation-duration: 0.3s;           /*动画持续时间*/
    animation-iteration-count: 1;       /*动画次数*/
    animation-delay: 0s;                /*延迟时间*/
}

/*大图默认不显示*/
.bigImg {
    display:none;
    width: 400px;
    height: 320px;
}

/*要显示的图的 class*/
.active {
    display: inline-block;
}

/*上、下按钮*/
.buttons {
    width: inherit;
    height: 60px;
    position: absolute;
    top: 60%;
}

/*下一张按钮鼠标悬停高亮*/
.button_next:hover {
    opacity : 1;
}

/*上一张按钮鼠标悬停高亮*/
.button_last:hover {
    opacity : 1;
}

/*下一张按钮*/
.button_next {
    position: absolute;
    right: 0px;
    opacity : 0.5;
}

/*上一张按钮*/
.button_last {
    opacity : 0.5;
}

/*小图长条容器*/
.small_pic {
    position: relative;
    width: 650px;
    height: 94px;
    overflow: hidden;
    left: 0px;
    /*使图片没有间隙*/
    font-size:0;
    line-height:0;
    /*小图移动过渡动画*/
    transition: left 0.5s;
}

/*小图容器*/
.smallContainer {
    position: relative;
    top: 7px;
    overflow: hidden;
}

/*小图*/
.smallImg {
    width: 120px;
    height: 94px;
    margin-left: 10px;
    opacity: 0.4;
}

/*小图鼠标悬停高亮*/
.smallImg:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

/*用于小图片高亮*/
.opacity {
    opacity: 1;
    transition: opacity 0.5s;
}
